/*-------------------------------------------
セクションタイトルのスタイル
-------------------------------------------*/
.section-title {
  font-size: 2.25rem;    /* フォントサイズ */
  font-weight: 700;      /* フォントの太さ */
  display: inline-block; /* インラインブロック要素として表示 */
  position: relative;    /* 相対位置指定 */
}
/* セクションタイトルの下に横線を表示 */
.section-title::after {
  position: absolute;          /* 絶対位置指定 */
  content: "";                 /* 疑似要素の内容 */
  bottom: -10px;               /* タイトル下の位置 */
  left: 50%;                   /* タイトル中央の位置 */
  transform: translateX(-50%); /* 中央揃え */
  height: 3px;                 /* 線の高さ */
  width: 100px;                /* 線の幅 */
  background-color: red;       /* 線の色 */
}

/* 解説 
タイトルに相対指定、疑似要素は絶対指定
㊟レスポンス時のためにbottomを設定すること
*/

/*-------------------------------------------
ページ全体を中央に配置するためのレイアウト
-------------------------------------------*/
body {
  display: grid; /* グリッド表示 */
  place-items: center; /* アイテムを中央に配置 */
  inset: 0; /* 画面端に配置 */
  height: 100vh; /* ビューポートの高さいっぱいに表示 */
}
